* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

.background {
  background: linear-gradient(
    to bottom,
    #addcc9,
    #dbebc2,
    #fdd2b5,
    #f7a8a6,
    #f48b94
  );
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2)
  );
  width: 70%;
  height: 80%;
  border-radius: 20px;
  box-shadow: 20px 10px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.app-title {
  margin-bottom: 40px;
  font-family: "Fascinate", cursive;
  font-size: 60px;
}

.categories-section,
.products-section {
  background: linear-gradient(
    to right bottom,
    rgba(219, 164, 156, 0.4),
    rgba(219, 164, 156, 0.8)
  );
  margin-bottom: 50px;
  width: 60%;
  min-height: 150px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.48) 0px 5px 15px;
}
.categories-section img,
.products-section img {
  position: relative;
  float: right;
  height: 35px;
  margin-top: -80px;
}

.categories-section h1,
.products-section h1 {
  color: #f7f7f7;
  margin-bottom: 10px;
}
